.petshop-list-container {
  height: 300px;
  /* Pra fazer com que o mapa fique por trás da lista de petshops */
  position: absolute;
  margin-bottom: 0;
  top: 91px;
  z-index: 999;
  left: 0;
  right: 0;
  /* background: linear-gradient(180deg, #FFFFFF, 55.47%, rgba(255, 255, 255, 0) 100%); */
  background: linear-gradient(180deg, #FFFFFF, 80%, rgba(255, 255, 255, 0) 100%);
}

.petshop-list {
  padding: 15px;
  /* para continuar na mesma linha */
  white-space: nowrap;
  /* O que passar, ele coloca a barra de rolagem horizontal */
  overflow-x: auto;
  width: 100%;
  margin-top: 15px;
}
