.sidebar h5 {
  height: 30px;
  margin-bottom: 0;
}

.sidebar .products {
  /* calculo tam.total - (h5+total+finalizar) */
  height: calc(100% - 190px);
  overflow: auto;
  /* iniciar de cima */
  align-content: flex-start;
}

.sidebar .footer {
  height: 160px;
  background-color: #f6f5f5;
}